<ion-view view-title="Login">
  <ion-content class="loginBG" scroll="false">
    <form ng-submit="doLogin()" style="margin-top: 40%">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password 1</span>
          <input type="password" ng-model="loginData.password1">
        </label>
          <label class="item item-input">
          <span class="input-label">Password 2</span>
          <input type="password" ng-model="loginData.password2">
      </label>
        <!--<label class="item">-->
          <button class="button button-block button-positive" type="submit" style="margin-top: 40px;">Log in</button>
        <!--</label>-->
      </div>
    </form>
  </ion-content>
</ion-view>
