<ion-view view-title="Paycheck">
  <ion-content>
      <center><h2 style="margin-top: 10px;">John E. Doe</h2></center>
      <div class="list">

          <label class="item item-input item-select" style="margin-bottom: 20px;">
              <div class="input-label">
                  Pay Date
              </div>
              <select>
                  <option selected>01/01/2000</option>
                  <option>01/21/2000</option>
                  <option>02/01/2000</option>
              </select>
          </label>
          <label class="item item-input item-select">
              <div class="input-label">
                  Type
              </div>
              <select>
                  <option selected>Regular Pay</option>
                  <option>Overtime</option>
                  <option>Vacation</option>
              </select>
          </label>
      </div>

      <div class="card">
          <div class="item item-divider p0">
              <div class="row">
                  <div class="col col-50 pl5">Net Pay</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Regular Pay+</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Overtime+</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Money Adj-</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Deds+ EE Ret-</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Taxes=</div>
                  <div class="col col-50 tr">$1000.00</div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Employee ID</div>
                  <div class="col col-50 tr">0000000</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Pay Kind</div>
                  <div class="col col-50 tr">Regular Pay</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Pay Date</div>
                  <div class="col col-50 tr">01/01/2000</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Regular Hrs</div>
                  <div class="col col-50 tr">80.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Overtime Hrs</div>
                  <div class="col col-50 tr">00.00</div>
              </div>
          </div>
          <div class="item p0">
              <div class="row">
                  <div class="col col-50 pl5">Dept-Div-Loc</div>
                  <div class="col col-50 tr">000-00-000</div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
