<ion-view view-title="Paycheck">
  <ion-content>
    <center><h1 style="margin-top: 10px;">Paycheck</h1></center>
      <div>
          <label class="item tab item-input item-stacked-label">
              <span class="input-label" style="max-width: 92%;">Pay Date</span>
              <input type="text"
                      name="Pay Date"
                      mobiscroll-select
                      mobiscroll-options="{display: 'bottom', theme: 'ios'}"
                      mobiscroll-instance="integer"
                      ng-minlength="1">
              </select>
          </label>
      </div>
  </ion-content>
</ion-view>
