<ion-view view-title="Submit Time">
  <ion-content>
    <center><h2 style="margin-top: 10px;">John E. Doe</h2></center>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Pay Date
        </div>
        <select>
          <option selected>01/01/2000</option>
          <option>01/21/2000</option>
          <option>02/01/2000</option>
        </select>
      </label>

    </div>
    <div class="card">
      <div class="item item-divider">
        <label class="item item-input item-select">
          <div class="input-label">
            Time Reporting Code
          </div>
          <select>
            <option selected>normal</option>
            <option>overtime</option>
            <option>vacation</option>
          </select>
        </label>
      </div>
      <!--Calendar-->
      <form name="timeSheet" novalidate="">
        <div class="form">
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Mon</div>
              <div class="col col-33 ct">01/20</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Tue</div>
              <div class="col col-33 ct">01/21</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Wed</div>
              <div class="col col-33 ct">01/22</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Thu</div>
              <div class="col col-33 ct">01/23</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Fri</div>
              <div class="col col-33 ct">01/24</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Sat</div>
              <div class="col col-33 ct">01/25</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Sun</div>
              <div class="col col-33 ct">01/26</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>



          <div class="item item-divider"></div>




          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Mon</div>
              <div class="col col-33 ct">01/27</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Tue</div>
              <div class="col col-33 ct">01/28</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Wed</div>
              <div class="col col-33 ct">01/29</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Thu</div>
              <div class="col col-33 ct">01/30</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Fri</div>
              <div class="col col-33 ct">01/31</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Sat</div>
              <div class="col col-33 ct">02/01</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col col-33 pl">Sun</div>
              <div class="col col-33 ct">02/02</div>
              <input class="col col-33" type="text" placeholder="0.00"style="border: 1px solid rgb(221, 221, 221);">
            </div>
          </div>
        </div>
      </form>
    </div>

    <button class="button button-stable" style="margin: 0 auto; display: block; margin-bottom: 30px;">
      <i class="icon ion-plus-round"></i>
    </button>
    <button class="button button-full button-positive" style="margin-bottom: 0px;">
      Submit
    </button>

  </ion-content>
  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/submitTime/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
</ion-view>
