/* Empty. Add your own CSS if you like */
.loginBG {
    background-image: url('/img/background_temp.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.loginBG .item-input {
    background-color: rgba(255, 255, 255, 0.3)!important;
    border-color: #000000;
}

.loginBG .list-inset {
    background-color: rgba(255, 255, 255, 0.3)!important;
}

.loginBG .input-label {
    color: #000000;
}

.bar.bar-stable {
    background: rgb(89, 192, 223);
}

.bar-stable .button.button-clear {
    color: #ffffff;
}

.bar.bar-stable .title {
    color: white;
}

.menu .scroll-content {
    background-color: rgb(89, 192, 223);
}

.menu .item-complex .item-content {
    background-color: rgb(89, 192, 223);
}

.menu a.item-content {
    color: #ffffff;
}

.menu .item .item-content.activated {
    background-color: orange;
}

.button.button-block {
    padding: 0px;
    width: 95%;
    margin: auto;
}

/*Mobi-Scroll */
.mbsc-mobiscroll .dwwr{
    background: #292829;
    color: #fff;
}

.mbsc-mobiscroll .dwb{
    color: #11C1F3;
}

.button-custom .icon:before{
    font-size: 64px !important;
}

.input-label{
    font-weight: bold;
}

input {
    text-align: center;
}

/*Distance between the timeSheet hour input rows*/
form .item {
    padding: 0px;
}

.card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    margin-bottom: 30px;
}

.buttons i {
    font-size: 35px;
    color: white;
}

.bar .buttons-right span {
    margin-right: 5px;
}